body{
    text-align: center;
}
.menu{
   position: fixed;
    background: white;
    width: 100%;
    margin-top: 0px;
    z-index: 10;
}
img{
    height: 250px;
    width: 250px;
    right: 100px;
}
#home_1{
    background-color: yellow;
}
#home_2{
    background-color: lightblue;
}

img{
    transition: transform .2s;
    border: 10px solid "#AAAAAA"
}
img:hover{
    transform: scale(0.9);
}

.link{
    display:inline;
    padding-left: 33px;
    padding-right: 25px;
    font-family: fantasy;
    font-size: 20px;
}
.links:hover{
    font-size: 25px;
    text-decoration: underline;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
#character{
    background: indianred;
    
}
#work {
    background: orange;
}
#insp{
    background: green;
}
#contact{
    background: violet;
}